<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sustech.edu.phantom.dboj.mapper.UsersMapper">
    <select id="login" resultType="sustech.edu.phantom.dboj.entity.Users">
        select username,nickname,avator from "users" where username = #{param1} and password = #{param2};
    </select>

    <insert id="registerUser" parameterType="sustech.edu.phantom.dboj.entity.Users" useGeneratedKeys="true">
        insert into "users" (username,password,nickname) values
        (#{username,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR},
        #{nickname,jdbcType=VARCHAR})
    </insert>
    <select id="findUserByusername" resultType="sustech.edu.phantom.dboj.entity.Users">
        select username,nickname,avator from "users" where username = #{param1};
    </select>
</mapper>