<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sustech.edu.phantom.dboj.mapper.AnnouncementMapper">
    <select id="queryAnnouncement" parameterType="sustech.edu.phantom.dboj.form.Pagination"
            resultType="sustech.edu.phantom.dboj.entity.Announcement">
        select id, title, description, create_date, last_modified
        from "announcement"
        order by last_modified desc
        offset #{offset} limit #{limit};
    </select>
    <insert id="insertAnnouncement" parameterType="sustech.edu.phantom.dboj.entity.Announcement">
        insert into announcement (title, description)
        values
        <foreach collection="announcementList" index="index" item="announcement" separator="," close=";">
            (#{announcement.title},#{announcement.description})
        </foreach>
    </insert>
    <insert id="insertOneAnnouncement">
        insert into "announcement" (title, description, create_date)
        values (#{title}, #{description}, #{createDate});
    </insert>
    <select id="getCount" resultType="integer">
        select count(*)
        from "announcement"
        offset #{offset} limit #{limit};
    </select>
</mapper>