<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sustech.edu.phantom.dboj.mapper.AssignmentMapper">
    <select id="queryAssignmentsWithoutFilter" resultType="sustech.edu.phantom.dboj.entity.po.Assignment">
        select id,
        title,
        description,
        start_time,
        end_time,
        status,
        full_score,
        sample_database_path
        from "assignment"
        where valid
        <if test="!flag">
            and (status = 'public' or status = 'closed')
        </if>
        order by start_time desc
        offset #{param1.offset} limit #{param1.limit};
    </select>
    <select id="queryAssignmentsWithoutFilterCounter" resultType="java.lang.Integer">
        select count(*)
        from "assignment"
        where valid
        <if test="!flag">
            and (status = 'public' or status = 'closed')
        </if>;
    </select>
    <select id="queryAssignmentByName" resultType="sustech.edu.phantom.dboj.entity.po.Assignment">
        select id,
        title,
        description,
        start_time,
        end_time,
        status,
        full_score,
        sample_database_path
        from "assignment"
        where valid
        <if test="!flag">
            and (status = 'public' or status = 'closed')
        </if>
        <if test="!flag2">
            and title like '%' || #{name} || '%'
        </if>
        order by start_time desc
        offset #{param1.offset} limit #{param1.limit};
    </select>
    <select id="queryAssignmentByNameCounter" resultType="java.lang.Integer">
        select count(*)
        from "assignment"
        where valid
        <if test="!flag">
            and (status = 'public' or status = 'closed')
        </if>
        <if test="!flag2">
            and title like '%' || #{name} || '%'
        </if>
    </select>
    <select id="getAllAssignment" resultType="sustech.edu.phantom.dboj.entity.po.Assignment">
        select id,
        title,
        description,
        start_time,
        end_time,
        status,
        full_score,
        sample_database_path
        from "assignment"
        where valid
        <if test="!flag">
            and (status = 'public' or status = 'closed')
        </if>;
    </select>
    <insert id="saveAssignment" useGeneratedKeys="true" keyProperty="id">
        insert into "assignment" (title, description, start_time, end_time, full_score, sample_database_path)
        VALUES (#{title}, #{description}, #{startTime}, #{endTime}, #{fullScore}, #{sampleDatabasePath});
    </insert>
    <select id="getOneAssignment" resultType="sustech.edu.phantom.dboj.entity.po.Assignment">
        select id,
        title,
        description,
        start_time,
        end_time,
        status,
        full_score,
        sample_database_path
        from "assignment"
        where id = #{aid}
        <if test="!flag">
            and (status = 'public' or status = 'closed')
        </if>
        and valid;
    </select>
    <select id="get2BPublicId" resultType="java.lang.Integer">
        select id
        from "assignment"
        where floor(extract(epoch from ((current_timestamp - timestamp '1970-01-01 00:00:00') * 1000))) >= start_time
          and valid
          and status = 'private';
    </select>
    <select id="get2BClosedId" resultType="java.lang.Integer">
        select id
        from "assignment"
        where floor(extract(epoch from ((current_timestamp - timestamp '1970-01-01 00:00:00') * 1000))) >= end_time
          and valid
          and status = 'public';
    </select>
    <update id="invalidateAssignment">
        update "assignment"
        set valid = false
        where id = #{aid};
    </update>
    <update id="publishAssignment">
        update "assignment"
        set status = 'public'
        where valid
        <if test="list.size()!=0">
            and
            id in (
            <foreach collection="list" index="index" separator="," item="l" close="">
                #{l}
            </foreach>);
        </if>
    </update>
    <update id="closeAssignment">
        update "assignment"
        set status = 'closed'
        where valid
        <if test="list.size()!=0">
            and id in(
            <foreach collection="list" index="index" separator="," item="l" close="">
                #{l}
            </foreach>);
        </if>
    </update>
</mapper>