<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sustech.edu.phantom.dboj.mapper.CodeMapper">
    <insert id="saveCode" keyProperty="id" useGeneratedKeys="true">
        insert into "code" (code, code_length, submit_time)
        values (#{code}, #{codeLength}, #{submitTime});
    </insert>
    <select id="queryCode" resultType="sustech.edu.phantom.dboj.entity.Code">
        select id, code, code_length, submit_time
        from "code"
        where valid
          and id = #{id};
    </select>
    <update id="invalidateCode">
        update "code"
        set valid= false
        where id = #{id};
    </update>
    <select id="queryRecentCode" resultType="java.lang.String">
        select code
        from "code"
        where id = (
            select code_id
            from record
            where submit_time = (
                select max(submit_time)
                from record
                where valid
                  and problem_id = #{problemId}
                  and user_id = #{userId}));
    </select>
</mapper>