<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sustech.edu.phantom.dboj.mapper.GradeMapper">
    <select id="getOneGrade" resultType="sustech.edu.phantom.dboj.entity.po.Grade">
        select user_id, problem_id, score
        from "grade"
        where valid
          and user_id = #{userId}
          and problem_id = #{problemId};
    </select>
    <select id="getUserGrade" resultType="sustech.edu.phantom.dboj.entity.vo.UserGrade">
        select id, title, case when grade is null then 0 else grade end as score, full_score
        from (
                 select distinct a.id, a.title, sum(g.score) over (partition by a.id) as grade, a.full_score
                 from assignment a
                          join problem p on a.id = p.assignment_id and a.valid and p.valid
                          left join grade g on p.id = g.problem_id and g.user_id = #{uid} and g.valid) as apg;
    </select>
    <select id="getOneAssignmentScore" resultType="sustech.edu.phantom.dboj.form.stat.AssignmentScore">
        select x.id, x.username, case when sum(g.score) is null then 0 else sum(g.score) end as total
        from (
                 select distinct u.id, u.username
                 from "user" u
                          join user_group ug on u.id = ug.user_id and u.valid and ug.valid
                          join assignment_group ag on ag.group_id = ug.group_id and ag.valid and ug.valid
                          join assignment a on ag.assignment_id = a.id and a.id = #{aid}) x
                 left join grade g on x.id = g.user_id and g.valid
        group by x.id, x.username;
    </select>
    <update id="updateOneGrade">
        update "grade"
        set score = #{score}
        where user_id = #{userId}
          and problem_id = #{problemId};
    </update>
    <insert id="saveOneGrade">
        insert into "grade" (user_id, problem_id, score)
        values (#{userId}, #{problemId}, #{score});
    </insert>
</mapper>