<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sustech.edu.phantom.dboj.mapper.GroupMapper">
    <select id="getAllGroups" resultType="sustech.edu.phantom.dboj.entity.po.Group">
        select id, description
        from "group"
        where valid;
    </select>
    <select id="getGroups" resultType="sustech.edu.phantom.dboj.entity.po.Group">
        select id, description
        from "group"
        where valid
        and id in (
        <foreach collection="ids" index="index" item="id" separator="," close=");">
            #{id}
        </foreach>
    </select>
    <select id="getAssignmentGroup" resultType="sustech.edu.phantom.dboj.entity.po.Group">
        select id, description
        from "group"
        where valid
          and id in (
            select group_id
            from assignment_group
            where valid
              and assignment_id = #{aid});
    </select>
    <select id="getStudentGroup" resultType="sustech.edu.phantom.dboj.entity.po.Group">
        select id, description
        from "group"
        where valid
          and id in (select group_id from user_group where valid and user_id = #{sid});
    </select>
    <insert id="saveGroup">
        insert into "group" (description)
        values (#{description});
    </insert>
    <insert id="insertAssignmentGroup">
        <if test="gids.size()!=0">
            insert into "assignment_group" (assignment_id, group_id) VALUES
            <foreach collection="gids" item="g" index="index" separator="," close="">
                (#{aid},#{g})
            </foreach>;
        </if>
    </insert>
    <update id="invalidateGroup">
        update "group"
        set valid = false
        where id = #{gid};
    </update>
    <update id="invalidateGroupUser">
        update "user_group"
        set valid = false
        where group_id = #{gid};
    </update>
    <update id="invalidateGroupAssignment">
        update "assignment_group"
        set valid = false
        where group_id = #{gid};
    </update>
    <delete id="invalidAssignmentGroup">
        delete
        from "assignment_group"
        where assignment_id = #{aid}
          and group_id = #{gid};
    </delete>
</mapper>