<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sustech.edu.phantom.dboj.mapper.PermissionMapper">
    <select id="getUserPermission" resultType="java.lang.String">
        select allowance
        from "permission"
        where valid
          and role = #{role};
    </select>
    <select id="getPermissions" resultType="sustech.edu.phantom.dboj.entity.po.Permission">
        select id, role, allowance
        from permission
        where valid;
    </select>
    <select id="getPermission" resultType="java.lang.Integer">
        select id
        from permission
        where role = #{param1}
          and allowance = #{param2};
    </select>
    <insert id="savePermission">
        insert into "permission" (role, allowance)
        VALUES (#{role}, #{allowance});
    </insert>
    <update id="invalidatePermission">
        update "permission"
        set valid = false
        where id = #{id};
    </update>
    <update id="validatePermission">
        update "permission"
        set valid = true
        where id = #{id};
    </update>
</mapper>