<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sustech.edu.phantom.dboj.mapper.PermissionMapper">
    <select id="getUserPermission" resultType="sustech.edu.phantom.dboj.entity.Permission">
        select *
        from "permission"
        where valid
          and role = #{role};
    </select>
</mapper>