<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sustech.edu.phantom.dboj.mapper.ProblemMapper">
    <insert id="saveProblem" useGeneratedKeys="true" keyProperty="id"
            parameterType="sustech.edu.phantom.dboj.entity.po.Problem">
        insert into "problem" (assignment_id, title, description, full_score, space_limit, time_limit,
                               index_in_assignment, solution, type, number_submit, number_solve, status)
        VALUES (#{assignmentId}, #{title}, #{description}, #{fullScore}, #{spaceLimit}, #{timeLimit},
                #{indexInAssignment}, #{solution}, #{type}, 0, 0, #{status});
    </insert>
    <select id="queryProblemWithoutFilter" resultType="sustech.edu.phantom.dboj.entity.po.Problem">
        select id,
        assignment_id,
        title,
        description,
        full_score,
        space_limit,
        time_limit,
        number_submit,
        number_solve,
        index_in_assignment,
        solution
        from "problem"
        where valid
        <if test="!flag">
            and (status = 'public' or status = 'closed')
        </if>
        order by id
        offset #{param1.offset} limit #{param1.limit};
    </select>
    <select id="queryCurrentProblem" resultType="sustech.edu.phantom.dboj.entity.po.Problem">
        select id,
        assignment_id,
        title,
        description,
        full_score,
        space_limit,
        time_limit,
        number_submit,
        number_solve,
        index_in_assignment,
        solution,
        type
        from "problem"
        where valid
        <if test="!flag">
            and (status = 'public' or status = 'closed')
        </if>
        and id = #{id};
    </select>
    <update id="invalidateProblem">
        update "problem"
        set valid = false
        where id = #{id};
    </update>
    <update id="validateProblem">
        update "problem"
        set valid = true
        where id = #{id};
    </update>
    <select id="oneAssignmentProblems" resultType="sustech.edu.phantom.dboj.entity.po.Problem">
        select id,
        assignment_id,
        title,
        description,
        full_score,
        space_limit,
        time_limit,
        number_submit,
        number_solve,
        index_in_assignment,
        solution
        from "problem"
        where assignment_id = #{id}
        <if test="!isAdmin">
            and (status = 'public' or status = 'closed')
        </if>
        order by index_in_assignment;
    </select>
    <select id="oneTagProblems" resultType="sustech.edu.phantom.dboj.entity.po.Problem">
        select id,
               assignment_id,
               title,
               description,
               full_score,
               space_limit,
               time_limit,
               number_submit,
               number_solve,
               index_in_assignment,
               solution
        from "problem"
        where valid
          and id in (
            select distinct problem_id
            from "problem_tag"
            where valid
              and tag_id = #{id})
          and (status = 'public' or status = 'closed');
    </select>
    <update id="updateProblemInfo">
        update "problem"
        set number_submit = #{numberSubmit},
            number_solve  = #{numberSolve}
        where id = #{id};
    </update>
    <update id="publishProblems">
        <if test="list.size()!=0">
            update "problem" set status = 'public' where valid and status = 'private'
            and assignment_id in
            (
            <foreach collection="list" item="l" separator="," index="index" close="">
                #{l}
            </foreach>);
        </if>
    </update>
    <update id="closedProblems">
        <if test="list.size()!=0">
            update "problem" set status = 'closed' where valid and status = 'public'
            and assignment_id in
            (
            <foreach collection="list" item="l" separator="," index="index" close="">
                #{l}
            </foreach>);
        </if>
    </update>
    <select id="queryProblemsByTags" resultType="sustech.edu.phantom.dboj.entity.po.Problem">
        select id,
        assignment_id,
        title,
        description,
        full_score,
        space_limit,
        time_limit,
        number_submit,
        number_solve,
        index_in_assignment,
        solution
        from "problem"
        where valid
        and (status = 'public' or status = 'closed')
        and id in (select distinct problem_id from "problem_tag" where valid and tag_id in (
        <foreach collection="tags" index="index" item="tag" separator="," close="">
            #{tag}
        </foreach>
        )) order by id offset #{param1.offset} limit #{param1.limit};
    </select>
    <select id="queryProblemsByTagsCounter" resultType="java.lang.Integer">
        select count(*) over ()
        from "problem"
        where valid
        and (status = 'public' or status = 'closed')
        and id in (select distinct problem_id from "problem_tag" where valid and tag_id in (
        <foreach collection="tags" index="index" item="tag" separator="," close="">
            #{tag}
        </foreach>
        ));
    </select>
    <select id="queryProblemsByTagAndName" resultType="sustech.edu.phantom.dboj.entity.po.Problem">
        select id,
        assignment_id,
        title,
        description,
        full_score,
        space_limit,
        time_limit,
        number_submit,
        number_solve,
        index_in_assignment,
        solution
        from "problem"
        where valid
        <if test="!flag">
            and (status = 'public' or status = 'closed')
        </if>
        and (id in (select distinct problem_id from "problem_tag" where valid and (tag_id in (
        <foreach collection="tags" index="index" item="tag" separator="," close="">
            #{tag}
        </foreach>)
        <if test="!flag2">
            or title like '%'||#{title}||'%'
        </if>
        )
        )
        )
        order by id offset #{param1.offset} limit #{param1.limit};
    </select>
    <select id="queryProblemsByTagAndNameCounter" resultType="java.lang.Integer">
        select count(*)
        from "problem"
        where valid
        <if test="!flag">
            and (status = 'public' or status = 'closed')
        </if>
        and (id in (select distinct problem_id from "problem_tag" where valid and (tag_id in (
        <foreach collection="tags" index="index" item="tag" separator="," close="">
            #{tag}
        </foreach>)
        <if test="!flag2">
            or title like '%'||#{title}||'%'
        </if>
        )
        )
        );
    </select>
    <select id="queryProblemsByName" resultType="sustech.edu.phantom.dboj.entity.po.Problem">
        select id,
        assignment_id,
        title,
        description,
        full_score,
        space_limit,
        time_limit,
        number_submit,
        number_solve,
        index_in_assignment,
        solution
        from "problem"
        where valid
        <if test="!flag">
            and (status = 'public' or status = 'closed')
        </if>
        and title like '%' || #{title} || '%'
        order by id
        offset #{param1.offset} limit #{param1.limit};
    </select>
    <select id="queryProblemsByNameCounter" resultType="java.lang.Integer">
        select count(*)
        from "problem"
        where valid
        <if test="!flag">
            and (status = 'public' or status = 'closed')
        </if>
        and title like '%' || #{title} || '%';
    </select>
    <select id="queryProblemWithoutFilterCounter" resultType="java.lang.Integer">
        select count(*)
        from "problem"
        where valid
        <if test="!flag">
            and (status = 'public' or status = 'closed')
        </if>;
    </select>
    <select id="problemGroups" resultType="java.lang.Integer">
        select group_id
        from problem p
                 join assignment_group ag
                      on p.assignment_id = ag.assignment_id and p.valid and ag.valid and id = #{pid};
    </select>
    <update id="modifyProblem">
        update problem
        set title       = #{param2.title},
            description = #{param2.description},
            full_score  = #{param2.fullScore},
            space_limit = #{param2.spaceLimit},
            time_limit  = #{param2.timeLimit},
            solution    = #{param2.solution},
            type        = #{param2.type}
        where id = #{pid};
    </update>
    <select id="getProblem" resultType="sustech.edu.phantom.dboj.form.upload.UploadProblemForm">
        select index_in_assignment,
               title,
               description,
               full_score,
               space_limit,
               time_limit,
               solution,
               type
        from problem
        where assignment_id = #{aid}
          and valid;
    </select>
</mapper>