<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sustech.edu.phantom.dboj.mapper.RecordMapper">
    <select id="queryRecord" resultType="sustech.edu.phantom.dboj.entity.Record">
        select *
        from "record"
        where valid
        offset #{offset} limit #{limit};
    </select>
    <insert id="saveRecord">
        insert into "record" (code_id, user_id, problem_id, result, description, space, time, dialect, code_length)
        VALUES (#{codeId}, #{userId}, #{problemId}, #{result}, #{description}, #{space}, #{time}, #{dialect},
                #{codeLength});
    </insert>
</mapper>