<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sustech.edu.phantom.dboj.mapper.UserMapper">
    <select id="login" parameterType="sustech.edu.phantom.dboj.entity.User"
            resultType="sustech.edu.phantom.dboj.entity.User">
        select id,
               username,
               nickname,
               role,
               avatar,
               state_save,
               state,
               lang
        from "user"
        where valid
          and username = #{username,jdbcType=VARCHAR}
          and password = #{password,jdbcType=VARCHAR};
    </select>

    <insert id="register" parameterType="sustech.edu.phantom.dboj.entity.User" useGeneratedKeys="true">
        insert into "user" (username, password, nickname)
        values (#{username,jdbcType=VARCHAR},
                #{password,jdbcType=VARCHAR},
                #{nickname,jdbcType=VARCHAR})
    </insert>
    <select id="findUserByUsername" resultType="sustech.edu.phantom.dboj.entity.User">
        select *
        from "user"
        where username = #{param1};
    </select>
    <update id="privilegeEscalation">
        update "user"
        set role = #{param2}
        where id = #{param1};
    </update>
    <select id="findUserByName" resultType="sustech.edu.phantom.dboj.entity.User">
        select *
        from "user"
        where nickname = #{name}
           or username = #{name};
    </select>
    <update id="updateUserInfo">
        update "user"
        set nickname   = #{userForm.nickname},
            state_save = #{userForm.stateSave},
            lang       = #{userForm.lang}
        where id = #{userId}
    </update>
    <select id="findUserById" resultType="sustech.edu.phantom.dboj.entity.User">
        select id,
               username,
               nickname,
               role,
               avatar,
               state_save,
               state,
               lang,
               valid
        from "user"
        where id = #{userId};
    </select>
    <update id="resetPassword">
        update "user"
        set password = #{password}
        where username = #{username};
    </update>
    <update id="modifyPassword">
        update "user"
        set password = #{password}
        where username = #{username};
    </update>
    <update id="saveState">
        update "user"
        set state = #{state}
        where id = #{id};
    </update>
    <select id="getState" resultType="java.lang.String">
        select state
        from "user"
        where id = #{id};
    </select>
    <update id="uploadAvatar">
        update "user"
        set avatar = #{filePath}
        where id = #{uid};
    </update>
    <update id="grantUser">
        update "user" set role=#{role} where id in (
        <foreach collection="list" index="index" item="l" separator="," close="">
            #{l}
        </foreach>
        );
    </update>
</mapper>